@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Story Telling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/home.js")

</head>
<body>
    
    <div class="container body-content">
        <div class="jumbotron">
            <p id="storycontainer">STORIES: <br></p>
            <p id="entrycontainer">ENTRIES: <br></p>
        </div>
        <div>
            <p><br />Add New Story</p>
            <form action="#" onsubmit="return addStory(this);">
                Title:<input type="text" name="title"><br>
                Prompt: <input type="text" name="prompt"><br>
                <input type="submit">
            </form>
        </div>

        <div>
            <p><br />Add New Entry</p>
            <form action="#" onsubmit="return addEntry(this);">
                Text:<input type="text" name="text"><br>
                Author: <input type="text" name="author"><br>
                StoryID: <input type="text" name="storyId"><br>
                <input type="submit">
            </form>
        </div>

        <div>
            <p><br />Remove Story</p>
            <button id="remove-story-button">Remove Story!</button>
            <input id="story-id-to-remove" value="1"/>
        </div>
        
        <div>
            <p><br />Remove Entry</p>
            <button id="remove-entry-button">Remove Entry!</button>
            <input id="entry-id-to-remove" value="1" />
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

