@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Story Telling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/home.js")

</head>
<body>
    
    <div class="container body-content">
        <div class="jumbotron">
            <p id="storycontainer">STORIES: <br></p>
        </div>

        <div>
            <p><br />Go To Story</p>
            <form action="@Url.Action("GoToStoryViewForStory", "Home")" method="post">
                Story Id:<input type="text" name="theStoryId"><br>
                <input type="submit">
            </form>
        </div>

        <div>
            <p>
                <br/> ----------------------ADMIN COMMANDS BELOW---------------------------
            </p>
        </div>

        <div>
            <p><br />Add New Story</p>
            <form action="@Url.Action("AddNewStory", "Home")" method="post">
                Title:<input type="text" name="title"><br>
                Prompt: <input type="text" name="prompt"><br>
                <input type="submit">
            </form>
        </div>

        <div>
            <p><br />Remove Story</p>
            <form action="@Url.Action("RemoveStory", "Home")" method="post">
                Id To Remove:<input type="text" name="idToRemove"><br>
                <input type="submit">
            </form>
        </div>

        <div>
            <p><br />Close Story</p>
            <form action="@Url.Action("CloseStory", "Home")" method="post">
                Story Id To Close:<input type="text" name="idToClose"><br>
                <input type="submit">
            </form>
        </div>
              
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

