@{
    ViewBag.Title = "Story View Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Story Telling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/storyview.js")

</head>
<body>

    <div class="container body-content">
        <div class="jumbotron">
            <p>Current Story Status: @ViewBag.CurrentStoryStatus</p>
            <p id="entrycontainer">ENTRIES: <br></p>
            <p id="pendingentrycontainer">PENDING ENTRIES: <br></p>
        </div>

        <div>
            <p>
                <br /> ----------------------PAGE ACTIONS---------------------------
            </p>
        </div>

        <div>
            <p><br />Add New Pending Entry</p>
            <form action="@Url.Action("AddNewPendingEntry", "StoryView")" method="post">
                Text:<input type="text" name="text"><br>
                <input type="submit">
            </form>
        </div>

        <div>
            <p><br />Vote For Pending Entry</p>
            <form action="@Url.Action("VoteForPendingEntry", "StoryView")" method="post">
                Pending Entry Id:<input type="text" name="pendingEntryId"><br>
                <input type="submit">
            </form>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

