@{
    ViewBag.Title = "Story View Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Story Telling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/storyview.js")

</head>
<body>

    <div class="container body-content">
        <div class="jumbotron">
            <!--<p>Current Story Status: @ViewBag.CurrentStoryStatus</p>-->
            <h2>@ViewBag.CurrentStoryTitle</h2>
            <p id="entrycontainer" align="center"></p>
           <!-- <p id="pendingentrycontainer">PENDING ENTRIES: <br></p>-->
        </div>

        <div style="padding-bottom:25px;">
            <p><br />Submit an entry:</p>
            <form action="@Url.Action("AddNewPendingEntry", "StoryView")" method="post">
                <textarea name="text" rows="3" cols="100" maxlength="140" style="resize:none;max-width:none;width:auto;"></textarea><br>
                <input type="submit">
            </form>
        </div>

        <div id="pending_container" style="display:inline-block;vertical-align:top;">
        </div>

        <div style ="padding-top:25px; visibility:hidden">
            <p>Vote For Pending Entry</p>
            <form action="@Url.Action("VoteForPendingEntry", "StoryView")" method="post">
                Pending Entry Id:<input type="text" name="pendingEntryId" id="pendingEntryIdBox"><br>
                <input type="submit" id="pendingEntrySubmit">
            </form>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

